.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 
  }
  
  .example-full-width {
    width: 100%;
  
  }
  
  .mediaViewInfo {
    --web-view-name: Subcategories – 3;
    --web-view-id: Subcategories__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Subcategories__3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Subcategories__3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(15,76,129,1);
    overflow: hidden;
    --web-view-name: Subcategories – 3;
    --web-view-id: Subcategories__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_148 {
    position: absolute;
    width: 375px;
    height: 753px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_80 {
    fill: rgba(15,76,129,1);
}
.Rectangle_80 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 753px;
    left: 0px;
    top: 0px;
}
#Group_100 {
    position: absolute;
    width: 279px;
    height: 57px;
    left: 48px;
    top: 97px;
    overflow: visible;
}
#Rectangle_54 {
    position: absolute;
    width: 278px;
    height: 51px;
    left: 1px;
    top: 3px;
    overflow: visible;
}
#Group_99 {
    position: absolute;
    width: 274px;
    height: 57px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_55 {
    position: absolute;
    width: 274px;
    height: 57px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Layer_1 {
    position: absolute;
    width: 25.638px;
    height: 27.042px;
    left: 237.543px;
    top: 15.266px;
    overflow: visible;
}
#Group_93 {
    opacity: 0.2;
    position: absolute;
    width: 11.885px;
    height: 11.885px;
    left: 13.753px;
    top: 15.157px;
    overflow: visible;
}
#Group_92 {
    position: absolute;
    width: 11.885px;
    height: 11.885px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_156 {
    fill: rgba(35,31,32,1);
}
.Path_156 {
    overflow: visible;
    position: absolute;
    width: 11.885px;
    height: 11.885px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_94 {
    position: absolute;
    width: 11.885px;
    height: 11.885px;
    left: 13.753px;
    top: 13.759px;
    overflow: visible;
}
#Path_157 {
    fill: rgba(79,93,115,1);
}
.Path_157 {
    overflow: visible;
    position: absolute;
    width: 11.885px;
    height: 11.885px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_95 {
    position: absolute;
    width: 14.774px;
    height: 14.774px;
    left: 2.791px;
    top: 2.796px;
    overflow: visible;
}
#Ellipse_10_ {
    fill: url(#Ellipse_10_);
}
.Ellipse_10_ {
    position: absolute;
    overflow: visible;
    width: 14.774px;
    height: 14.774px;
    left: 0px;
    top: 0px;
}
#Group_97 {
    opacity: 0.2;
    position: absolute;
    width: 20.357px;
    height: 20.367px;
    left: 0px;
    top: 1.398px;
    overflow: visible;
}
#Group_96 {
    position: absolute;
    width: 20.357px;
    height: 20.367px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_158 {
    fill: rgba(35,31,32,1);
}
.Path_158 {
    overflow: visible;
    position: absolute;
    width: 20.357px;
    height: 20.367px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_98 {
    position: absolute;
    width: 20.357px;
    height: 20.368px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_159 {
    fill: rgba(79,93,115,1);
}
.Path_159 {
    overflow: visible;
    position: absolute;
    width: 20.357px;
    height: 20.368px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Caut_cartonae_aici {
    left: 14.806px;
    top: 21.625px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    line-height: 13px;
    margin-top: -1px;
    text-align: left;
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(128,128,128,1);
}
#Group_180 {
    position: absolute;
    width: 100px;
    height: 44.66px;
    left: 247px;
    top: 40px;
    overflow: visible;
}
#Rectangle_82 {
    fill: rgba(246,246,246,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_82 {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 109px;
    height: 53.66px;
    left: 0px;
    top: 0px;
}
#iconfinder_undo-back-arrow_293 {
    position: absolute;
    width: 30px;
    height: 23.215px;
    left: 35px;
    top: 11px;
    overflow: visible;
}
#Group_179 {
    position: absolute;
    width: 100px;
    height: 44.66px;
    left: 28px;
    top: 40px;
    overflow: visible;
}
#Rectangle_82_be {
    fill: rgba(246,246,246,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_82_be {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 109px;
    height: 53.66px;
    left: 0px;
    top: 0px;
}
#home {
    position: absolute;
    width: 30px;
    height: 24.994px;
    left: 63px;
    top: 50px;
    overflow: visible;
}
#Group_207 {
    position: absolute;
    width: 200px;
    height: 209.16px;
    left: 88px;
    top: 185.062px;
    overflow: visible;
}
#Group_56 {
    position: absolute;
    width: 200px;
    height: 209.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_30 {
    opacity: 0.5;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 9.16px;
    overflow: visible;
}
#Path_124_bk {
    opacity: 0.15;
    fill: url(#Path_124_bk);
}
.Path_124_bk {
    overflow: visible;
    position: absolute;
    width: 175.896px;
    height: 175.898px;
    left: 12.255px;
    top: 1.498px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_52 {
    position: absolute;
    width: 177.449px;
    height: 177.449px;
    left: 11.479px;
    top: 0.722px;
    overflow: visible;
}
#Path_125_bn {
    fill: url(#Path_125_bn);
}
.Path_125_bn {
    overflow: visible;
    position: absolute;
    width: 177.449px;
    height: 177.449px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_31 {
    opacity: 0.5;
    mix-blend-mode: screen;
    position: absolute;
    width: 177.099px;
    height: 178.626px;
    left: 12.214px;
    top: 0px;
    overflow: visible;
}
#Path_126_bq {
    opacity: 0.5;
    fill: url(#Path_126_bq);
}
.Path_126_bq {
    mix-blend-mode: screen;
    overflow: visible;
    position: absolute;
    width: 175.896px;
    height: 84.237px;
    left: 12.255px;
    top: 1.498px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_55 {
    opacity: 0.5;
    mix-blend-mode: screen;
    position: absolute;
    width: 126.878px;
    height: 14.56px;
    left: 41.554px;
    top: 170.353px;
    overflow: visible;
}
#Group_54 {
    position: absolute;
    width: 126.878px;
    height: 14.56px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_53 {
    position: absolute;
    width: 126.878px;
    height: 14.56px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Mr {
    left: 162px;
    top: 405px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(241,241,241,1);
}
#mi_plac_merele {
    left: 109px;
    top: 470px;
    position: absolute;
    overflow: visible;
    width: 158px;
    white-space: nowrap;
    text-align: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(241,241,241,1);
}
#Vreau_s_mnnc_un_mr {
    left: 64px;
    top: 528px;
    position: absolute;
    overflow: visible;
    width: 251px;
    white-space: nowrap;
    text-align: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(241,241,241,1);
}
#Nu-mi_plac_merele {
    left: 94px;
    top: 586px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(241,241,241,1);
}
#Group_208 {
    position: absolute;
    width: 53.31px;
    height: 53.31px;
    left: 161.344px;
    top: 644.08px;
    overflow: visible;
}
#Ellipse_86 {
    fill: rgba(51,51,51,1);
}
.Ellipse_86 {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.502));
    position: absolute;
    overflow: visible;
    width: 59.31px;
    height: 59.31px;
    left: 0px;
    top: 0px;
}
#Group_209 {
    position: absolute;
    width: 21.324px;
    height: 21.344px;
    left: 177.337px;
    top: 660.356px;
    overflow: visible;
}
#Line_14 {
    fill: transparent;
    stroke: rgba(193,39,45,1);
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_14 {
    overflow: visible;
    position: absolute;
    width: 26.981px;
    height: 26.981px;
    left: 0px;
    top: 0.02px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_15 {
    fill: transparent;
    stroke: rgba(193,39,45,1);
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_15 {
    overflow: visible;
    position: absolute;
    width: 26.981px;
    height: 26.981px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_210 {
    position: absolute;
    width: 100px;
    height: 111.26px;
    left: 138px;
    top: 216.038px;
    overflow: visible;
}
#Group_102 {
    position: absolute;
    width: 100px;
    height: 111.26px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_101 {
    position: absolute;
    width: 100px;
    height: 111.26px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_160 {
    fill: rgba(241,79,83,1);
}
.Path_160 {
    overflow: visible;
    position: absolute;
    width: 94.027px;
    height: 79.296px;
    left: 2.782px;
    top: 29.181px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_161 {
    fill: rgba(164,210,77,1);
}
.Path_161 {
    overflow: visible;
    position: absolute;
    width: 22.538px;
    height: 29.522px;
    left: 30.538px;
    top: 2.779px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_162 {
    fill: rgba(63,73,86,1);
}
.Path_162 {
    overflow: visible;
    position: absolute;
    width: 100px;
    height: 111.26px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_163 {
    fill: rgba(255,255,255,1);
}
.Path_163 {
    overflow: visible;
    position: absolute;
    width: 8.804px;
    height: 28.397px;
    left: 12.631px;
    top: 44.658px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_164 {
    fill: rgba(255,255,255,1);
}
.Path_164 {
    overflow: visible;
    position: absolute;
    width: 5.569px;
    height: 5.529px;
    left: 17.727px;
    top: 76.111px;
    transform: matrix(1,0,0,1,0,0);
}